.drop-file-input {
    position: relative;
    width: 400px;
    height: 200px;
    border: 2px dashed var(--border-color);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--input-bg);
}

.drop-file-input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
    opacity: 0.6;
}

.drop-file-input__label {
    text-align: center;
    color: var(--txt-second-color);
    font-weight: 600;
    padding: 10px;
}

.drop-file-input__label img {
    width: 100px;
}

.drop-file-input__error {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
}

.drop-file-preview {
    margin-top: 2rem;
}

.drop-file-preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-file-preview-header button {
    padding: 10px 20px;
    border: unset;
    border-radius: 15px;
    color: #09ff00;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.drop-file-preview-header button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #09ff00;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.drop-file-preview-header button:hover {
    color: #e8e8e8;
}
   
.drop-file-preview-header button:hover::before {
    width: 100%;
}

.drop-file-preview-list {
    margin-top: 1rem;
}

.drop-file-preview p {
    font-weight: 500;
}

.drop-file-preview__title {
    /* margin-bottom: 1rem; */
    font-weight: bolder;
    color: #FF8000;
}

.drop-file-preview__item {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    padding: 15px;
    border-bottom: 1px solid #b6b4b3;
}

.drop-file-preview__item img {
    width: 50px;
    margin-right: 20px;
}

.drop-file-preview__item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drop-file-preview__item__del {
    background-color: var(--box-bg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover .drop-file-preview__item__del {
    opacity: 1;
}